{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        {% include 'meta/meta.html' %}
        {% block meta %}{% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:700%7CNunito:300,600" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css'  %}">
		<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>

        <title>Название сайта</title>
    </head>
        <body>
<!-- Header -->
		<header id="header">
			<!-- Nav -->
			<div id="nav">
				<!-- Main Nav -->
				<div id="nav-fixed">
					<div class="container">
						<!-- logo -->
						<div class="nav-logo">
							<a href="/" class="logo"><img src="{% static './img/logo.png' %}" alt=""></a>
						</div>
						<!-- /logo -->

						<!-- nav -->
            {% load flatpages %}
            {% get_flatpages as flatpages %}
						<ul class="nav-menu nav navbar-nav">
              {% for page in flatpages %}
              <li><a href="{{ page.url }}">{{ page.title }}</a></li>
              {% endfor %}
							<li><a href="{% url 'newsfeed:news-list' %}">Новости</a></li>
                            <li><a href="{% url 'newsfeed:article-list' %}">Статьи</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'profile' %}">Привет, {{ user.username }}!</a></li>
                            <li><a href="{% url 'logout' %}">Выйти</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">Войти</a></li>
                            <li><a href="{% url 'signup' %}">Регистрация</a></li>
                        {% endif %}


						</ul>
						<!-- /nav -->

						<!-- search & aside toggle -->
						<div class="nav-btns">
							<button class="aside-btn"><i class="fa fa-bars"></i></button>
							<button class="search-btn"><i class="fa fa-search"></i></button>
							<div class="search-form">
								<input class="search-input" type="text" name="search" placeholder="Enter Your Search ...">
								<button class="search-close"><i class="fa fa-times"></i></button>
							</div>
						</div>
						<!-- /search & aside toggle -->
					</div>
				</div>
				<!-- /Main Nav -->

				<!-- Aside Nav -->
				<div id="nav-aside">
					<!-- nav -->
					<div class="section-row">
						<ul class="nav-aside-menu">
							<li><a href="/">Главная</a></li>
							<li><a href="/about/">О сайте</a></li>
							<li><a href="/contact/">Контакты</a></li>
							<li><a href="/newsfeed/">Новости</a></li>
							<li><a href="/articles/">Статьи</a></li>
						</ul>
					</div>
					<!-- /nav -->

					<!-- widget posts -->
					<div class="section-row">
						<h3>Recent Posts</h3>
						<div class="post post-widget">
							<a class="post-img" href="{% url 'newsfeed:news-list' %}"><img src="{% static './img/widget-2.jpg' %}" alt=""></a>
							<div class="post-body">
								<h3 class="post-title"><a href="{% url 'newsfeed:news-list' %}">Pagedraw UI Builder Turns Your Website Design Mockup Into Code Automatically</a></h3>
							</div>
						</div>

						<div class="post post-widget">
							<a class="post-img" href="{% url 'newsfeed:news-list' %}"><img src="{% static './img/widget-3.jpg' %}" alt=""></a>
							<div class="post-body">
								<h3 class="post-title"><a href="{% url 'newsfeed:news-list' %}">Why Node.js Is The Coolest Kid On The Backend Development Block!</a></h3>
							</div>
						</div>

						<div class="post post-widget">
							<a class="post-img" href="{% url 'newsfeed:news-list' %}"><img src="{% static './img/widget-4.jpg' %}" alt=""></a>
							<div class="post-body">
								<h3 class="post-title"><a href="{% url 'newsfeed:news-list' %}">Tell-A-Tool: Guide To Web Design And Development Tools</a></h3>
							</div>
						</div>
					</div>
					<!-- /widget posts -->

					<!-- social links -->
					<div class="section-row">
						<h3>Follow us</h3>
						<ul class="nav-aside-social">
							<li><a href="{% url 'newsfeed:news-list' %}"><i class="fa fa-facebook"></i></a></li>
							<li><a href="{% url 'newsfeed:news-list' %}"><i class="fa fa-twitter"></i></a></li>
							<li><a href="{% url 'newsfeed:news-list' %}"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="{% url 'newsfeed:news-list' %}"><i class="fa fa-pinterest"></i></a></li>
						</ul>
					</div>
					<!-- /social links -->

					<!-- aside nav close -->
					<button class="nav-aside-close"><i class="fa fa-times"></i></button>
					<!-- /aside nav close -->
				</div>
				<!-- Aside Nav -->
			</div>
			<!-- /Nav -->
		</header>
		<!-- /Header -->

		<!-- section -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Post content -->
					<div class="col-md-8">
						<div class="section-row sticky-container">


		{% block content %}
        {% endblock %}

                        			</div>
						</div>

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /section -->



		<!-- Footer -->
		<footer id="footer">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-5">
						<div class="footer-widget">
							<div class="footer-logo">
								<a href="index.html" class="logo"><img src="{%  static './img/logo.png' %}" alt=""></a>
							</div>
							<ul class="footer-nav">
								<li><a href="{% url 'newsfeed:news-list' %}">Privacy Policy</a></li>
								<li><a href="{% url 'newsfeed:news-list' %}">Advertisement</a></li>
							</ul>
							<div class="footer-copyright">
								<span>&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="row">
							<div class="col-md-6">
								<div class="footer-widget">
									<h3 class="footer-title">О нас</h3>
									<ul class="footer-links">
										<li><a href="{% url 'newsfeed:news-list' %}">О сайте</a></li>
										<li><a href="{% url 'newsfeed:news-list' %}">Join Us</a></li>
										<li><a href="{% url 'newsfeed:news-list' %}">Контакты</a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-6">
								<div class="footer-widget">
									<h3 class="footer-title">Catagories</h3>
									<ul class="footer-links">
										<li><a href="{% url 'newsfeed:news-list' %}">Web Design</a></li>
										<li><a href="{% url 'newsfeed:news-list' %}">JavaScript</a></li>
										<li><a href="{% url 'newsfeed:news-list' %}">Css</a></li>
										<li><a href="{% url 'newsfeed:news-list' %}">Jquery</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="footer-widget">
							<h3 class="footer-title">Join our Newsletter</h3>
							<div class="footer-newsletter">
								<form>
									<input class="input" type="email" name="newsletter" placeholder="Enter your email">
									<button class="newsletter-btn"><i class="fa fa-paper-plane"></i></button>
								</form>
							</div>
							<ul class="footer-social">
								<li><a href="{% url 'newsfeed:news-list' %}"><i class="fa fa-facebook"></i></a></li>
								<li><a href="{% url 'newsfeed:news-list' %}"><i class="fa fa-twitter"></i></a></li>
								<li><a href="{% url 'newsfeed:news-list' %}"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="{% url 'newsfeed:news-list' %}"><i class="fa fa-pinterest"></i></a></li>
							</ul>
						</div>
					</div>

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</footer>
		<!-- /Footer -->

		<!-- jQuery Plugins -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
        </body>
</html>