{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
    <h1>News Posts</h1>
    <ul>
    {% for newspost in news_list %}
               {% thumbnail newspost.image "300x300" as im %}
                <a href="#"><img src="{{ im.url }}" alt=""></a>
                {% endthumbnail %}
        <a href="?category__title__in={{ newspost.category.title }}">{{ newspost.category.title }}</a>
                        <span>{{ newspost.created_date }}</span>
                    <h3><a href="{% url 'newsfeed:news-detail' newspost.slug %}">{{ newspost.title }}</a></h3>
                    <p>{{ newspost.text }}</p>

    {% empty %}
        <li>No news posts yet.</li>
    {% endfor %}
    </ul>

{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}