{% extends 'base.html' %}

{% block content %}
    <h1>Search results</h1>
    <ul>
        {% for object in search_list %}

                <a href="#"><img src="{{ object.image }}" alt=""></a>
                        <span>{{ object.created_date }}</span>

                    <h3><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h3>
                    <p>{{ object.content|safe }}</p>
                    <p>{{ object.text }}</p>

  {% endfor %}
</ul>

{% endblock %}