{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
    <h1>Articles</h1>
    <ul>
    {% for article in article_list %}

        <div class="col-md-12">
            <div class="post post-row">
                {% thumbnail article.image "300x300" as im %}
                <a class="post-img" href="#"><img src="{{ im.url }}" alt=""></a>
                {% endthumbnail %}
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-2" href="?tags__title__in={{ article.tags }}">{{ article.tags }}</a>
                        <span class="post-date">{{ article.created_date }}</span>
                    </div>
                    <h3 class="post-title"><a href="{% url 'newsfeed:article-detail' article.slug %}">{{ article.title }}</a></h3>
                    <p>{{ article.content|safe }}</p>

                    <p> Tags:
                    {% for tag in article.tags.all %}
                    <a href="?tags__title__in={{ tag.title }}">{{ tag.title }}</a>
                    {% endfor %}
                    </p>

                </div>
            </div>
        </div>

    {% empty %}
        <li>No articles yet.</li>
    {% endfor %}
    </ul>

{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}