{% extends 'base.html' %}

{% block content %}

    <div id="post-header" class="page-header">
				<div class="background-img" style="background-image: url({{ article.image.url }});"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-10">
							<div class="post-meta">
								<a class="post-category cat-2" href="#">{{ article.tags.title }}</a>
								<span class="post-date">{{ article.created_date }}</span>
							</div>
							<h1>{{ article.title }}</h1>
						</div>
					</div>
				</div>
			</div>


    <div class="col-md-8">
						<div class="section-row sticky-container">
							<div class="main-post">
								<h3>{{ article.title }}</h3>
								{{ article.content|safe }}

                            <p></p>
                            <p>Tags:
                                    {% for tag in article.tags.all %}
                                <a href="?tags__title__in={{ tag.title }}">{{ tag.title }}</a>
                                {% endfor %}
                            </p>
                            </div></div></div>

{% endblock %}