					<div class="col-md-4">

						<div class="aside-widget">
							<div class="section-title">
								<h2>Featured Posts</h2>
							</div>

  {% for object in object_list %}

                            	<div class="post post-thumb">
								<a class="post-img" href="{% url 'newsfeed:news-detail' object.slug %}"><img src="{{ object.image.url }}" alt=""></a>
								<div class="post-body">
									<div class="post-meta">
										<a class="post-category cat-3" href="{% url 'newsfeed:news-list' %}?category__title__in={{ object.category.title }}">{{ object.category.title }}</a>
										<span class="post-date">{{ object.created_date }}</span>
									</div>
									<h3 class="post-title"><a href="{% url 'newsfeed:news-detail' object.slug %}">{{ object.title }}</a></h3>
								</div>
							</div>
  {% endfor %}


                            </div>
					</div>