{% extends 'base.html' %}
{% load news_extras %}

{% block content %}

    <div id="post-header" class="page-header">
				<div class="background-img" style="background-image: url({{ newspost.image.url }});"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-10">
							<div class="post-meta">
								<a class="post-category cat-2" href="#">{{ newspost.category.title }}</a>
								<span class="post-date">{{ newspost.created_date }}</span>
							</div>
							<h1>{{ newspost.title }}</h1>
						</div>
					</div>
				</div>
			</div>


    <div class="col-md-8">
						<div class="section-row sticky-container">
							<div class="main-post">
								<h3>{{ newspost.title }}</h3>
								{{ newspost.text }}
                                </div></div></div>

{% load_featured_news newspost.category_id %}

{% endblock %}