{% extends 'base.html' %}

{% block content %}
    <h1>Search results</h1>
    <ul>
        {% for object in search_list %}

              <div class="col-md-12">
            <div class="post post-row">
                <a class="post-img" href="#"><img src="{{ object.image }}" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <span class="post-date">{{ object.created_date }}</span>
                    </div>
                    <h3 class="post-title"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h3>
                    <p>{{ object.content|safe }}</p>
                    <p>{{ object.text }}</p>
                </div>
            </div>
        </div>

  {% endfor %}
</ul>


{% endblock %}