{% extends 'base.html' %}

{% block content %}

    <h2>Регистрация</h2>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button  class="btn btn-primary" type="submit">Регистрация</button>
    </form>

{% endblock content %}