{% extends 'base.html' %}

{% block content %}

    <h2>Вход</h2>
    <form method="post">

    {% csrf_token %}
    {{ form.as_p }}

    <button class="btn btn-primary" type="submit">Готово</button>

    </form>

{% endblock content %}